.demo {
    background: #054bd1;
    height: 50px;
    color: white;
    -webkit-font-smoothing:antialiased;
}

.container.demo .row {
    background: #6a6b6d;
    border-bottom: 1px solid #666;
}

.container.demo .row > div > span {
    display:block;
    background:#487bdd;
    color: white;
    font-size: 12px;
    padding: 1px;
    margin: 1px;
    margin-right: 0px;
    border: 1px solid #0b5102;
}

.container.demo1 {
    padding:50px;
}


.carousel-item img{
    min-height: 300px;
    max-height: 400px;
    object-fit: cover;
}